.hide{
    display: none;
}

#itemDrop, .selectedDItem,  .selectedKItem, .selectedTItem{
    margin-left: 400px;
    margin-bottom: 50px;
    width: 300px;
}

#cell label{
    font-size: 20px;
}

#decoratie, #kleding, #tierelantijn{
    text-align: center;
    align-self: center;
}

.dGrid, .kGrid, .tGrid{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#formContainer{
    margin-left: 50px;
    height: 200px;
    width: 300px;
}

#formContainer button{
    margin: 20px 0;
}

.dropValue{
    font-size: 20px;
}

.cell{
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    font-size: 30px;
}

.garbage{
    border: 1px solid rgba(0, 0, 0, 0.8);
    max-width: 100px;
    min-height: 50px;
}

#weerDiv{
    position: absolute;
    background: whitesmoke;
    right: 120px;
    bottom: 10px;
    width: 200px;
    height: 100px;
    border: 3px solid pink;
}

#chooseCity.active{
    display: block;
}

#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: whitesmoke;
    min-width: 600px;
    min-height: 800px;
    max-width: 80%;
    transform: translate(-50%, -50%) scale(1);
}

#popup-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

#popup-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

#overlay{
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 1;
    pointer-events: all;
}

.popupInput{
    width: 200px;
    align-self: center;
    margin: 0;
}

.form-inline{
    margin-left: 50px;
}


